@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'roboto', sans-serif;
    background-color: #fff;
    padding: 20px;
}

.titulo {
    color: navy;
    font-size: 24px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
}

.descricao {
    font-style: italic;
    margin-bottom: 20px;
}

.caixa {
    border: 1px solid #999;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fdfdfd;
}
.subtitulo {
    background-color: #f0f0f0;
    padding: 5px;
    font-size: 18px;
    margin-bottom: 10px;
}