.imagem-pequena{
        padding: 10px; 
        border: 1px solid black;
        margin: 0px auto;
        display: block;
        vertical-align: top;
    }

    .imagem-media{
       margin: 20px auto;
       border: 4px solid #888888;
       display: block;
       vertical-align: top;
    }

    .imagem-grande{
        padding: 20px;
        border: 5px solid #0000FF;
        display: block;
        vertical-align: top;
        margin: 0px auto;
    }